[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "*"
sqlparse = "==0.4.4"
typing-extensions = "==4.6.3"

[dev-packages]

[requires]
python_version = "3.11"
