<!DOCTYPE html>
<html>
<head>
    <title>Conference List</title>
</head>
<body>
    <form method="POST" action="/conference/">
    
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="dates">Dates:</label>
        <input type="text" id="dates" name="dates" required><br>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required><br>
        
        <button type="submit">Create Conference</button>
      </form>
</body>
</html>
