<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
</head>
<body>
    
    <h1>Speaker Details</h1>
    <h2>{{ speaker.name }}</h2>
    <p><strong>Bio:</strong> {{ speaker.bio }}</p>
    <p><strong>other Information:</strong> {{ speaker.other_info }}</p>

    
</body>
</html>
