<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">first name:</label>
        <input type="text" id="fname" name="fname" required /><br /><br />
  
        <label for="dates">last name:</label>
        <input type="text" id="lname" name="lname" required /><br /><br />
  
        <label for="bio">bio:</label>
        <input type="text" id="bio" name="bio" required /><br /><br />

        <label for="location">contact:</label>
        <input type="text" id="cnt" name="cont" required /><br /><br />
  
        <input type="submit" value="Submit" />
      </form>

</body>
</html>