<!DOCTYPE html>
<html>
<head>
  <title>Add Conference</title>
</head>
<body>
  <h2>Add Conference</h2>
  <form>
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" required><br><br>
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br><br>
    
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br><br>

    <label for="location">Topic:</label>
    <input type="text" id="Topic" name="Topic" required><br><br>
    
    <input type="submit" value="Add">
  </form>
</body>
</html>
