<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Conference_creation</title>

  </head>
  <body>
    <h1>Create Conference</h1>
    <hr/>

    <form>
        <div>
            <label>Name: </label>
            <input type="text" placeholder="Enter name..."/>
        </div>

        <div>
            <label>Location: </label>
            <input type="text" placeholder="Enter location..."/>
        </div>

        <div>
            <label>Date: </label>
            <input type="date" placeholder="Enter date..."/>
        </div>

        <div>
            <label>Topics: </label>
            <textarea rows="10" cols="20" placeholder="Enter conference informations" ></textarea>
        </div>

        <button type="button">emeza</button>
    </form>

  </body>
</html>
