<DOCTYPE html>
   <html lang="en">
   <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> Conference Details</title>
   </head>
   <body>
    {% for conference in conferences %}
    <h2>{{ conference.name }}</h2>
    <h3>Date: {{ conference.dates }}</h3>
    <h3>Location: {{ conference.location }}</h3>
    <h3>Topics: {{ conference.topics }}</h3>
    {% endfor %}
   </body>
</html>
