<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Conference</title>
</head>
<body>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        form {
            width: 350px;
        }
        label {
            display: block;
        }
        input {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
            height: 30px;
            border-radius: 50%;
        }
        button {
            width: 102%;
            height: 30px;
            border-radius: 50%;
        }
    </style>
    <div style="padding: 5% 10%; ">
        <form action="" styles="width: 200px; padding: 15px;">
            <h2>Create new conference</h2>
            <label for="" >
                Name<BR>
                <input type="text" >
            </label>
            <label for="" >
                Date<BR>
                <input type="date"  ><BR>
            </label>
            <label for="" >
                Location<BR>
                <input type="text" ><BR>
            </label>
            <button >Submit Conference</button>
        </form>
    </div>
</body>
</html>
