<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new Conferences</h1>
    <form action="">
        <label for="">Conferance name:</label>
        <input type="text" name="name" id="" placeholder="Conferance name"><br><br>

        <label for="">Date:</label>
        <input type="date" name="name" id="" placeholder="DATE"><br><br>

        <label for="">Location:</label>
        <input type="text" name="name" id="" placeholder="Location"><br><br>

        <label for="">Topic:</label>
        <textarea name="Topic" id="" cols="30" rows="10"></textarea>

        <input type="submit" name="save"  value="Create">
    </form>
</body>
</html>