<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Addition of conference</title>
  </head>
  <body>
    <form action="/submit" method="post">
      <label for="name">Name of conference:</label>
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="dates">Date of conference:</label>
      <input type="text" id="dates" name="dates" required /><br /><br />

      <label for="location">Locations of conference:</label>
      <input type="text" id="location" name="location" required /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>