<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details For a Conference</title>
  </head>
  <body>
    <h1>Kigali Conference</h1>
  <p>The Kigali Conference is set to take place in Kigali on the 25th of June this year.</p>
  <p>Don't miss this exciting event featuring industry leaders, insightful discussions, and networking opportunities.</p>
  <p>Join us in Kigali to connect with professionals from around the world and gain valuable insights into the latest trends and developments in your field.</p>
  <p>Save the date and be part of this extraordinary event!</p>
  <p>other conference's dates will be announce after kigali conference.</p>
  </body>
</html>
