<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY APP</title>
</head>
<body>
    <h1>Home Page</h1>
    <br>
    <a href="{% url 'about' %}">About us</a>
    <hr>
    <h2>{{ data }}</h2>
    {% for A in data %}
        {% if A == 'django' %}
            <h1>{{ A }}</h1>
        {% else %}
            <h4>{{ A }}</h4>
        {% endif %}

    {% endfor %}


</body>
</html>