<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <h3>details of {{ speaker.name }}</h3>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>bio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ speaker.id }}</td>
          <td>{{ speaker.name }}</td>
          <td>{{ speaker.email }}</td>
          <td>{{ speaker.bio }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
