<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
    <h1><u>REGISTER NEW CONFERENCE</u></h1>
    <label>Conference id</label>
    <input type="text" width="100"><br>
    <label>Conference name</label>
    <input type="text" width="100"><br>
    <label>Date</label>
    <input type="date"><br>
    <label >Location</label>
    <input type="text" width="100"><br>
    <label>Topic</label>
    <input type="text" width="100"><br>
    <input type="submit" value="REGISTER"><input type="reset" value="reset">

    </form>
</body>
</html>