<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        li {
            margin: 10px 0;
        }
        h1 {
            color: orange;
        }
    </style>
    <h1>Conference details</h1>
    <ul>
        <li>Name : {{conference.name}}</li>
        <li>Date : {{conference.date}}</li>
        <li>Location : {{conference.location}}</li>
        <li>Topic : {{conference.topic}}</li>
    </ul>
</body>
</html>