<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>speaker</h1><hr/>
    <table>
        <tr>
           <th>number</th>
           <th>speaker_name</th>
           <th>speaker_bio</th>
           <th>speakers_constact</th>
        </tr>
    <tr>
        <td>{{speaker.id}}</td>
        <td>{{speaker.name}}</td>
        <td>{{speaker.bio}}</td>
        <td>{{speaker.contact}}<td>
    </tr>
    
</body>
</html>