<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>speaker</h1><hr/>
    <table style="border: 1px solid black; width: 100%;" >
        <tr>
            <th style="padding: 8px; border: 1px solid black;">number</th>
            <th style="padding: 8px; border: 1px solid black;">speaker_name</th>
            <th style="padding: 8px; border: 1px solid black;">speaker_bio</th>
            <th style="padding: 8px; border: 1px solid black;">speakers_constact</th>
         </tr>
    <tr>
        <td style="padding: 8px; border: 1px solid black;">{{speaker.id}}</td>
        <td style="padding: 8px; border: 1px solid black;">{{speaker.name}}</td>
        <td style="padding: 8px; border: 1px solid black;">{{speaker.bio}}</td>
        <td style="padding: 8px; border: 1px solid black;">{{speaker.contact}}<td>
    </tr>
    
</body>
</html>