{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Conference project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>

    </style>
</head>

<body>
    <header class="header">
        <h1 class="text-center"><a href="/" title="home">Conference app</a></h1>
    </header>

    <main class="main-contents">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>
                    Upcoming conferences
                </h1>
                <a href="/conferences/create/" class="btn btn-success">new conference</a>
            </div>
            {% if message %}
            <div class="messages-wrapper mb-3">
                <div class="alert alert-success">{{ message }}</div>
            </div>
            {% endif %}
            {% for conference in conference_list %}
            <div class="conference-card mb-2">
                <div class="d-flex align-items-center">
                    <div class="left-box p-4 col-4">
                        <div class="date">
                            {{ conference.date_time }}
                        </div>
                        <div class="location">
                            {{ conference.location }}
                        </div>
                    </div>
                    <div class="desc d-flex justify-content-between px-4 col-8">
                        <div>
                            <div class="title">
                                {{ conference.title }}
                            </div>
                            <div class="host">
                                hosted by {{ conference.hosting_organization }}
                            </div>
                        </div>
                        <div class="btn">
                            <a href="/conferences/{{conference.id}}" class="btn btn-secondary">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>



</body>

</html>