<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
     <h1>Create conference</h1>
    <form method="POST">
        name:<input type="text" name=""><br>
        date:<input type="text" name=""><br>
        Location:<input type="text" name=""><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>



